<xc-panel xc-i18n-context="pmon.capacities">
  <header>
    <h1 xc-i18n>header-label</h1>
    <div class="items-right config-bar">
      <div class="filter">
        <xc-icon xc-icon-name="search"></xc-icon>
        <xc-form-input [(value)]="filter.filter" xc-form-field-compact xc-form-field-suffix="clear" xc-i18n placeholder="filter-placeholder" (keydown.enter)="refresh()"></xc-form-input>
      </div>
      <xc-checkbox
        label="show-unused"
        [(checked)]="showUnused"
        xc-tooltip="tooltip-show-unused"
        xc-i18n
      ></xc-checkbox>
      <xc-icon-button
        xc-tooltip="tooltip-refresh"
        xc-icon-name="reload"
        (click)="refresh()"
        [busy]="getDataSource().refreshing"
        [disabled]="getDataSource().refreshing"
        xc-i18n
      ></xc-icon-button>
    </div>
  </header>
  <section class="stretch scroll">
    @for (resourceInfo of dataSource.rawData; track resourceInfo) {
      <div>
        <xfm-mon-resource-card
          [resourceInfo]="resourceInfo"
          >
          <xc-button footer-content (click)="openCapacity(resourceInfo.resource.name)" xc-i18n>configure-capacity</xc-button>
        </xfm-mon-resource-card>
      </div>
    }
    @if (!getDataSource().refreshing && dataSource.rawData.length === 0) {
      <label class="empty-label" xc-i18n>no-capacities</label>
    }
  </section>
</xc-panel>
