@if (injectedData.used !== undefined && injectedData.total !== undefined) {
  <div
    class="progress-box"
    xc-tooltip="{{'tooltip-resource-progress' | xcI18n:injectedData.used:injectedData.total}}"
    >
    <div class="progress-bar" [ngStyle]="{ right: 100 - percentage + '%'}"></div>
    <div class="value">{{injectedData.used}} / {{injectedData.total}}</div>
  </div>
}
@if (injectedData.waiting > 0) {
  <div class="waiting">
    <xc-icon xc-icon-name="tb-wait" xc-icon-style="modeller" xc-tooltip="{{'tooltip-waiting-orders' | xcI18n}}">{{injectedData.waiting}}</xc-icon>
  </div>
}